@font-face{font-family:'站酷小薇LOGO';src:url(https://oss.wonbao.net/wonbao-editor/fonts/cn/zhankuxiaowei.woff)}
@font-face{font-family:'站酷快乐体';src:url(https://oss.wonbao.net/wonbao-editor/fonts/cn/zhankukuaile.woff)}
@font-face{font-family:'站酷酷黑';src:url(https://oss.wonbao.net/wonbao-editor/fonts/cn/zhankukuhei.woff)}
@font-face{font-family:'站酷高端黑';src:url(https://oss.wonbao.net/wonbao-editor/fonts/cn/zhankugaoduanhei.woff)}